// Файл обнуляющих стилей
@import "_nullstyle";

//Шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
	font-family: "Open sans";
	font-size: 20px;
	line-height: 140%;
	color: #171717;
}

h1{
	font-family: "Montserrat Alternates";
	font-size: 52px;
	line-height: 130%;
}

h2{
	font-family: "Montserrat Alternates";
	font-size: 36px;
	font-weight: 600;
	line-height: 140%;
	color: #1C625D;
	span{
		color: #21E2D4;
	}
}

h3{
	font-size: 26px;
	line-height: 140%;
	font-weight: 600;
	color: #1C625D;
}

section{
	padding: 160px 0px;
}

.container{
	width: 1280px;
	padding: 0px 32px;
	margin: auto;

}
.grid-about{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 60px;
}

.relative{
	position: relative;
	.img-about{
		position: absolute;
		top: -20%;
		left: -25%;
	}
}

.about-text{
	h3{
		margin: 40px 0px 20px 0px;
	}
	.p-indent{
		margin: 15px 0px;
	}
}

.grid-pluses{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	margin: 110px 0px 0px 0px;
		.number{
			color: #C78700;
			font-family: "Montserrat Alternates";
			font-weight: 700;
			font-size: 66px;
			line-height: 120%;
			margin: 0px 0px 0px 10px;
		}
		p{
			color: #1C625D;
		}
}
